{% extends "base_client_admin.html" %} 
{% load static %}

{% block title %}Manage Participants{% endblock %}
{% block links %}
  <link rel="stylesheet" href="{% static 'css/custom4.css' %}" />
{% endblock %}

{% block page %}Manage Participants Status{% endblock %}
{% block breadcrumb %} <a href="{% url 'client_admin:home' %}">Dashboard</a> / <a href="{% url 'user_management:home' %}">Manage Participants</a> / <a href="{% url 'user_management:manage' %}">Manage Participants Status</a>{% endblock %}
{% block subtitle %} Manage Participants Status{% endblock %}
{% block content %}
  
  <div class="AssessmentContainer">
    <div class="row">
      <div class="col-md-10 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-lg-8">
                        <select class="form-control">
                            <option defaultcheck value="1">Participants</option>
                            <option value="2">Include</option>
                            <option value="3">In Progress</option>
                            <option value="4">Completed</option>
                            <option value="5">Exclude</option>
                        </select>
                    </div>
                    <div class="col-lg-4">

                        <button type="button" class="btn btn-secondary">Apply</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
              <div class="deletediv pull-left">
              <input type="button" class="delete btn btn-default" value="Delete" />
            </div>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5 ml-auto">
              <div class="searchdiv form-elements pull-right"><input type="text" placeholder="Search ..." class="searchbox" /></div>
            </div>
          </div>
      </div>
      <div class="mt-3 col-md-12 col-sm-12 col-xs-12">
        <div id="temp" style="display: none"></div>
        <textarea id="table_template" style="display: none">
          <table id="users_table" class="table table-bordered table-hover table-striped text-center">
              <thead>
                <th scope="col"><div class="selectall" id="-1"></div></th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </thead>
              <tbody>
              </tbody>
          </table>
        </textarea>
        <textarea id="rows_template" style="display: none">
          {#foreach $T as record}
            {#if $T.record.status==$P.filter }
                <tr id='tr_{$T.record.id}'>
                <td><div class="usercheckbox" id='{$T.record.id}'></div></td>
                <td class="firstname form-elements"><div class="editabletext">{$T.record.first_name}</div></td>
                <td class="lastname form-elements"><div class="editabletext">{$T.record.last_name}</div></td>
                <td class="email form-elements"><div >{$T.record.email}</div></td>
                <td class="status hide">{$T.record.status}</td>
                <td class="actions hide">
                    
                    <a class="edit"><i class="fas fa-edit" style="color:#007bff;"></i></a>
                    <a class="update" title="Update"><i class="fas fa-check" style="color:#82c91e;"></i></a>
                    <a class="ml-2 cancel" title="Cancel"><i class="fas fa-times" style="color:#dc3545;"></i></a>
                </td>
            {#/if}
          {#/for}
        </textarea>
        <div class="col-md-12 portlets" style="display:none">
            <!-- Output elements -->
            <div class="middleactions">
                <div class="middleactionsbuttons">
                    <input type="button" class="findduplicate" value="find duplicate" />
                    <input type="button" class="findallduplicate" value="find all duplicate" />
                </div>
            </div>
        </div>
        {% comment %} <div class="addCandidatesContainer">
          <div class="middleactions" style="display:none;">
            <div class="middleactionsbuttons">
              <input type="button" class="findduplicate" value="find duplicate" />
              <input type="button" class="findallduplicate" value="find all duplicate" />
            </div>
          </div>
          <form class="cmxform" id="editform" method="get" action="">
            <div class="result" style="clear: both"></div>          
          </form>
          <div class="clearfix"></div>
        </div> {% endcomment %}

        <div class="footerpagination padd">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item">
                        <a  id="previous" class="page-link btn btn-default pull-right prevbtn" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a id="current" class="current page-link active" style="display: none">1</a></li>
                    <li class="page-item"><span id="num_pages" class="num_pages" style="display: none"></span></li>
                    <li class="page-item"><a class="pagesIndex"></a></li>
                    <li class="page-item">
                    <a  id="next" class="page-link btn btn-default pull-left" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                    </li>
                </ul>
            </nav>
        </div> 
      </div>

    </div>
  </div>

{% endblock%}

{% block js %}
    <script type="text/javascript" src="{% static "js/" %}jquery.validate.js"></script>
    <script type="text/javascript" src="{% static "js/" %}jquery-jtemplates.js"></script>
    <script type="text/javascript" src="{% static "js/" %}fileuploader.js" ></script>
    <script type='text/javascript' src="{% static "js/" %}jquery.simplemodal.js"></script>
    <script type="text/javascript" src="{% static "js/" %}jquery.tablesorter.min.js" ></script>
    <script type="text/javascript" src="{% static "js/" %}user_management_manage.js" ></script>
    <script type='text/javascript' src="{% static "js/" %}confirm.js"></script>
    <script>
        activeMenuItem = 2;
        var uploader = new qq.FileUploader({
        action: "/usermanagement/ajax_upload/",
        element: $('#file-uploader')[0],
        multiple: true,
        onComplete: function (id, fileName, responseJSON) {
            alert("All complete!");
                if (responseJSON['error'] == undefined) {
                    renderUsers(responseJSON);
                } else {
                    alert(responseJSON['error']);
                }

            },
            onAllComplete: function (uploads) {
                // uploads is an array of maps
                // the maps look like this: { file: FileObject, response: JSONServerResponse }

                alert("All complete!");
            },
            params: {
                'csrf_token': '{{ csrf_token }}',
                'csrf_name': 'csrfmiddlewaretoken',
                'csrf_xname': 'X-CSRFToken',
            },
        });
    </script>

{% endblock %}