
.page-title h1{
    font-size:18px;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}

.page-title h1 div{
    margin-top:6px;
    float:left;
}
/*
.page-title .btn, .page-title .btn:hover{
    border:1px solid #d34039;
    border-radius:2px;
    background:da5350;
    padding:10px;
    color:#fff;
}*/

.roles{
    margin-top:17px;
}

.role{
    border:1px solid #cacacc;
    border-bottom:0;
    background:#fff;
}

.role.last{
    border-bottom:1px solid #cacacc;
}

.role .heading{
    padding:12px 20px;
    border-bottom:1px solid #cacacc;
    color:#70a1ed;
    cursor: pointer;
    display:block;
    margin:0;
    background: -moz-linear-gradient(center top , #F8F8F8, #F2F2F2) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
    background:-ms-linear-gradient(top, #f8f8f8, #f2f2f2);
    background:-o-linear-gradient(top, #f8f8f8, #f2f2f2);
    background:linear-gradient(top, #f8f8f8, #f2f2f2);
}

.role .description{
    padding:13px 50px;
    font-size:12px;
    font-family: 'Open Sans', sans-serif;
    display:none;
}
.role .description > p{
    margin: 0;
} 
.role .description p > span{
    color: #43425d;
    font-size: 15px;
    line-height: 1.39;
}
.ez-radio{
    height:16px;
    width:17px;
    background-position:0 0;
    vertical-align:top;
    margin-right:15px;
}

.ez-radio.ez-selected{
    background-position:0 -17px;
}

.page-title-container{
    display: flex;
    justify-content: center;
}