{% extends "base_client_admin.html" %} 
{% load static %}

{% block title %}Demographic{% endblock %}
{% block links %}
  <link rel="stylesheet" href="{% static 'css/custom4.css' %}" />
{% endblock %}

{% block page %}Define demographic{% endblock %}
{% block breadcrumb %} <a href="{% url 'client_admin:home' %}">Dashboard</a> / <a href="{% url 'user_management:home' %}">Manage Participants</a> / <a href="{% url 'survey:demographic' %}">Define Demograhic</a> {% endblock %}

{% block content %}

    <div class="" style="margin-top: -7px;">
        <div class="row" style="width:100%">
            <div class="col-sm-6 col-md-6 col-lg-6" style="padding-right: 15px;">
                <div class="bg-info" style="width:100%">
                    <div class="headertitleContainer">
                        <div class="row headerContainerRow">
                            <div class="col-sm-10 col-md-10 col-lg-10">
                                <div class="custom-control custom-checkbox left" >
                                    <input type="checkbox" id="-1" onClick="toggle(this)" class="custom-control-input" >
                                    <label class="custom-control-label" for="-1">
                                        Demographics</label>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 headertitleContainerCol">
                                <a ><img id="imgAdd"   style="cursor:pointer;" class="right" src="{% static 'images/add_circle-24px (1).svg'%}"></a>
                                <a ><img id="imgDelete" data-toggle="modal" data-target="#myModal" style="display: none;cursor:pointer;" class="right" src="{% static 'images/delete-24px (1).svg'%}"></a>
                        
                            </div>
                        </div>
                    </div>
                    <div id="demoGraph"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6" style="padding-left: 15px;">
                <div class="bg-warning" style="width:100%">
                    <div class="headertitleContainerRight">
                        <div class="row headerContainerRow">
                            <div class="col-sm-10 col-md-10 col-lg-10">
                                <div class="custom-control custom-checkbox left" >
                                    <input type="checkbox" id="0" onClick="toggle_val(this)" class="custom-control-input" >
                                    <label class="custom-control-label" for="0">
                                        Menu options: <i style="font-style:normal" id="currentDemo"></i></label>
                                    
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 headertitleContainerCol">
                                <a ><img id="imgAddVal" style="cursor:pointer;" class="right" src="{% static 'images/add_circle-24px (1).svg'%}"></a>
                                <a ><img id="imgDeleteVal" data-toggle="modal" data-target="#myModalVal" style="display: none;cursor:pointer;" class="right" src="{% static 'images/delete-24px (1).svg'%}"></a>
                            </div>
                        </div>
                    </div>
                    <div id="values"></div>

                </div>
            </div>
        </div>
    </div>


{% endblock%}

{% block modal %}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style="margin:auto;">
                <span class="mb-3 mt-3 text-center" style="font-size:21px;color: #43425d;">Are you sure you want to delete?</span>

                </div>
                <div style="margin-left: 7%;margin-bottom: 43px;">
                    <button type="button" style="width:211px" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    <button type="button" style="width:211px" id="imgDeleteModal" class="btn btn-default">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalVal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style="margin:auto;">
                <span class="mb-3 mt-3 text-center" style="font-size:21px;color: #43425d;">Are you sure you want to delete?</span>

                </div>
                <div style="margin-left: 7%;margin-bottom: 43px;">
                    <button type="button" style="width:211px" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    <button type="button" style="width:211px" id="imgDeleteValModal" class="btn btn-default">Delete</button>
                </div>
            </div>
        </div>
    </div>

  
{% endblock %}
{% block js %}

  {% csrf_token %}
  <script type="text/javascript" src="{% static "js/" %}demographic.js"></script>

  
{% endblock %}