{% extends "base_static.html" %}
{% load static %}
{% block page_title %} Survey {% endblock %}

{% block header_left %} <h1>Thank you</h1>
{% endblock %}

{% block content %} <div class="clear"></div>

<script type="text/javascript" src="{% static 'scripts/select_role.js' %}"></script>





<div class="pageWrapper">    
<div class="closedMessage"><br><br><br><br>
	<div style="width: 500px;">
    Thanks for attempting to access the Cat Electronics Agile Readiness Survey.  The survey is now closed.  We are currently reviewing the input we received.  If you have any questions, feel free to contact <a href="mailto:kott_alex_w@cat.com?Subject=Regarding Agile Readiness Assessment!">Alex Kott</a>.  Thanks!
    </div>
</div>
</div>
{% endblock %}

{% block footer_buttons %}

{% endblock %}
