/* BUTTON STYLING FROM HERE DOWN *****************************/

div.clearbutton {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 1px;
}


/* GLOBAL RED BUTTON *****************************/
a.GlobalRedButton span {
	background: transparent url('../images/button_left_red.png') no-repeat 0 0;
	display: block;
	line-height: 22px;
	padding: 7px 0 5px 18px;
	color: #fff;
}
a.GlobalRedButton {
	background: transparent url('../images/button_right_red.png') no-repeat top right;
	display: block;
	float: left;
	height: 50px;
	margin-right: 6px;
	padding-right: 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}
a.GlobalRedButton:hover span {
	background-position: 0 -50px;
	color: #fff;
}
a.GlobalRedButton:hover {
	background-position: right -50px;
}


/* GLOBAL BLUE BUTTON *****************************/
a.GlobalBlueButton span {
	background: transparent url('../images/button_left_blue.png') no-repeat 0 0;
	display: block;
	line-height: 22px;
	padding: 7px 0 5px 18px;
	color: #fff;
}
a.GlobalBlueButton {
	background: transparent url('../images/button_right_blue.png') no-repeat top right;
	display: block;
	float: left;
	height: 50px;
	margin-right: 6px;
	padding-right: 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}
a.GlobalBlueButton:hover span {
	background-position: 0 -50px;
	color: #fff;
}
a.GlobalBlueButton:hover {
	background-position: right -50px;
}


/* GLOBAL ORANGE BUTTON *****************************/
a.mainButtons span {
	background: transparent url('../images/button_left_orange.png') no-repeat 0 0;
	display: block;
	line-height: 28px;
	padding: 6px 0 5px 12px;
	color: #000;
}
a.mainButtons {
	background: transparent url('../images/button_right_orange.png') no-repeat top right;
	display: block;
	float: left;
	height: 43px;
	margin-right: 6px;
	padding-right: 20px;
	text-decoration: none;
	font-size:11px;
	font-weight:normal;
}
a.mainButtons:hover span {
	background-position: 0 -43px;
	color: #000;
}
a.mainButtons:hover {
	background-position: right -43px;
}


/* GLOBAL BLACK BUTTON *****************************/
a.GlobalButtonActive span {
	background: transparent url('../images/button_left_active.png') no-repeat 0 0;
	display: block;
	line-height: 16px;
	padding: 7px 0 3px 10px;
	color: #a09c9c;
}
a.GlobalButtonActive {
	background: transparent url('../images/button_right_active.png') no-repeat top right;
	display: block;
	float: left;
	height: 47px;
	margin-right: 3px;
	padding-right: 6px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}
a.GlobalButtonActive:hover span {
	background-position: 0 -47px;
	color: #CCC;
}
a.GlobalButtonActive:hover {
	background-position: right -47px;
}
.GlobalButtonActive img {

}


.clearMargin {
	margin:0px;
}






/* GLOBAL BUTTON *****************************/
a.GlobalButton span {
	background: transparent url('../images/button_left.png') no-repeat 0 0;
	display: block;
	line-height: 16px;
	padding: 7px 0 3px 9px;
	color: #cccccc;
}
a.GlobalButton {
	background: transparent url('../images/button_right.png') no-repeat top right;
	display: block;
	float: left;
	height: 47px;
	margin-right: 3px;
	padding-right: 6px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}
a.GlobalButton:hover span {
	background-position: 0 -47px;
	color: #cccccc;
}
a.GlobalButton:hover {
	background-position: right -47px;
}




.GlobalButton img {
	margin-left:0px;
}

.GlobalButtonMoreActions img {
	padding-left:4px;
}
.buttonActionsIco {
	margin-left:18px;
	font-size:10px;
	margin-top:0px;
}
.clearMargin {
	margin:0px;
}


/* GLOBAL TAB BUTTON *****************************/
a.GlobalTab span {
	background: transparent url('../images/tab_left_gray.png') no-repeat 0 0;
	display: block;
	line-height: 22px;
	padding: 7px 0 5px 18px;
	color: #007ec2;
}
a.GlobalTab {
	background: transparent url('../images/tab_right_gray.png') no-repeat top right;
	display: block;
	float: left;
	height: 46px;
	margin-right: 6px;
	padding-right: 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-right:10px;
}
a.GlobalTab:hover span {
	background-position: 0 -46px;
	color: #007ec2;
}
a.GlobalTab:hover {
	background-position: right -46px;
}
/* GLOBAL TAB BUTTON *****************************/
a.GlobalTabDis span {
	background: transparent url('../images/tab_dis_left_gray.png') no-repeat 0 0;
	display: block;
	line-height: 22px;
	padding: 7px 0 5px 18px;
	color: #007ec2;
}
a.GlobalTabDis {
	background: transparent url('../images/tab_dis_right_gray.png') no-repeat top right;
	display: block;
	float: left;
	height: 46px;
	margin-right: 6px;
	padding-right: 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-right:10px;
}
a.GlobalTabDis:hover span {
	background-position: 0 -46px;
	color: #007ec2;
}
a.GlobalTabDis:hover {
	background-position: right -46px;
}
/* GLOBAL REGISTER BUTTON *****************************/
a.GlobalRegisterButton span {
	background: transparent url('../images/button_left_normal.png') no-repeat 0 0;
	display: block;
	line-height: 23px;
	padding: 7px 0 5px 18px;
	color: #fbd818;
}
a.GlobalRegisterButton {
	background: transparent url('../images/button_right_normal.png') no-repeat top right;
	display: block;
	float: left;
	height: 37px;
	margin-right: 6px;
	padding-right: 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}
a.GlobalRegisterButton:hover span {
	background-position: 0 -37px;
	color: #fb9818;
}
a.GlobalRegisterButton:hover {
	background-position: right -37px;
}
.GlobalRegisterButton img {
	margin-right:5px;
}
.GlobalRegisterButton {
}
/* GLOBAL REGISTER BUTTON *****************************/
a.GlobalRegisterButtonColorA span {
	background: transparent url('../images/button_left_color_a_normal.png') no-repeat 0 0;
	display: block;
	line-height: 23px;
	padding: 7px 0 5px 18px;
	color: #FFF;
}
a.GlobalRegisterButtonColorA {
	background: transparent url('../images/button_right_color_a_normal.png') no-repeat top right;
	display: block;
	float: left;
	height: 37px;
	margin-right: 6px;
	padding-right: 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}
a.GlobalRegisterButtonColorA:hover span {
	background-position: 0 -37px;
	color: #FFF;
}
a.GlobalRegisterButtonColorA:hover {
	background-position: right -37px;
}
.GlobalRegisterButtonColorA img {
	margin-right:5px;
}
.GlobalRegisterButtonColorA {
}
/* CUSTOMIZED BUTTON *****************************/
.addIcon {
	background-image: url('../images/ico_add_16.png');
	background-repeat:no-repeat;
	background-position: 6px 6px;
	padding-left: 26px;
	margin-right:10px;
}
.publishedIcon {
	background-image: url('../images/ico_link_16.png');
	background-repeat:no-repeat;
	background-position: 6px 6px;
	padding-left: 26px;
	margin-right:5px;
}
.unpublishedIcon {
	background-image: url('../images/ico_unlink_16.png');
	background-repeat:no-repeat;
	background-position: 6px 6px;
	padding-left: 26px;
	margin-right:5px;
}
.duplicateIcon {
	background-image: url('../images/ico_duplicate_16.png');
	background-repeat:no-repeat;
	background-position: 6px 6px;
	padding-left: 26px;
	margin-right:5px;
}
.deleteIcon {
	background-image: url('../images/ico_delete_16.png');
	background-repeat:no-repeat;
	background-position: 6px 6px;
	padding-left: 26px;
	margin-right:5px;
}
/* MANAGE EMAIL CAMPAIGNS BUTTONS *****************************/
.mngEmailCampSteps {
	background: transparent url('../images/bg_mngEmail_separator.png') repeat-x 0 0;
	float:left;
}
a.mngEmailCampButton span {
	background: transparent url('../images/btn_left_mngEmail.png') no-repeat 0 0;
	display: block;
	line-height: 48px;
	padding: 7px 0 11px 18px;
}
a.mngEmailCampButton {
	background: transparent url('../images/btn_right_mngEmail.png') no-repeat top right;
	display: block;
	float: left;
	height: 65px;
	margin-right: 6px;
	padding-right: 16px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align:center;
	color: #bababa;
	font-size:12px;
}
a.mngEmailCampButton:hover span {
	background-position: 0 -66px;
	color: #4e4e4e;
}
a.mngEmailCampButton:hover {
	background-position: right -66px;
}
.mngEmailCampButton img, .mngEmailCampButtonActive img {
	margin-right:5px;
}
.mngEmailCampButtonActive span {
	background: transparent url('../images/btn_left_mngEmail.png') no-repeat;
	display: block;
	line-height: 48px;
	padding: 7px 0 11px 18px;
	background-position: 0 -66px;
}
a.mngEmailCampButtonActive {
	background: transparent url('../images/btn_right_mngEmail.png') no-repeat;
	display: block;
	float: left;
	height: 65px;
	margin-right: 6px;
	padding-right: 16px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align:center;
	color: #4e4e4e;
	font-size:12px;
	cursor:pointer;
	background-position: right -66px
}
