.header {
	font-family: Calibri;
	font-weight: bold;
	display: inline-block;
}
.divider{
	width: auto;
	height: 1px;
	background-color: black;
	margin:1px;

}

.characteristic_title {
	font-family: Calibri;
	display: inline-block;
}
.practice_title {
	font-family: Calibri;
	display: inline-block;
}
.presentation_type{
	font-family: Calibri;
	display: inline-block;
}
table {

	border-collapse: collapse;
}
td {
	border: 0px solid #000;
}
.code {
}
.report_question {
	font-family: Calibri;
	display: inline-block;
}
.views {
}
.view {
	width: 120px;
	text-align: center;
	display: inline-block;
	background-color: #ccc;
	margin: 5px;
	color: #000;
}
.selector {
	width: 120px;
	text-align: center;
	display: inline-block;
	background-color: #ccc;
	margin: 5px;
	color: #000;
}
.selected {
	background-color: #333;
	color: #fff;
}
.Answers {
	display: none;
}
.Bars {
	display: none;
}
.Ranges {
}
.group_title {
	padding-left: 5px;
	width: 90px;
	display: inline-block;
}
.graph_label {
	font-family: Gloucester MT;
	font-size: 12px;
	width: 200px;
}
.label_title {
	display: inline-block;
	font-family: Gloucester MT;
	font-size: 10px;
}
.group {
	background: #aaa;
	margin-bottom: 2px;
	margin-top: 2px;
}
.ranges_graph {
	width: 1100px;
	display: table-cell;
	vertical-align: bottom;
}
.range_1 {
	background-color: #FF9999;
	float: left;
	height: 20px;
}
.range_2 {
	background-color: #FFCC66;
	float: left;
	height: 20px;
}
.range_3 {
	background-color: #FFFF99;
	float: left;
	height: 20px;
}
.range_4 {
	background-color: #99FF66;
	float: left;
	height: 20px;
}
.range_5 {
	background-color: #00FF66;
	float: left;
	height: 20px;
}
.graph_range {
	margin-top: 5px;
	position: relative;
	background-color: #906;
	height: 10px;
}
.graph_info {
	display: none;
}
.ranges_graph table {
	border: 0px;
	width: auto;
	display: inline-block;
}
.ranges_graph table tr {
	border: 0px;
}
.ranges_graph table td {
	border: 0px;
	padding: 0px;
	padding: 0 2px 0 0;
	text-align: right;
}
.label_1 {
	background-color: #FF9999;
	display: inline-block;
	height: 10px;
	width: 10px;
}
.label_2 {
	background-color: #FFCC66;
	display: inline-block;
	height: 10px;
	width: 10px;
}
.label_3 {
	background-color: #FFFF99;
	display: inline-block;
	height: 10px;
	width: 10px;
}
.label_4 {
	background-color: #99FF66;
	display: inline-block;
	height: 10px;
	width: 10px;
}
.label_5 {
	background-color: #00FF66;
	display: inline-block;
	height: 10px;
	width: 10px;
}
.legend {
	display: inline-block;
}
.label {
	margin: 2px;
}
.page {
	height: 710px;
}
