{% extends "base_user.html" %}
{% load static %}


{% block title %}Change Password{% endblock %}
{% block content %}
  <h2 class="title">Change Password</h2><br />
  <div class="AssessmentContainer">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget" style="margin:auto;width:50%;">
          <div class="confirmationerror alert alert-danger"
            {% if not error  %}
            style="display: none;"
            {% endif %}
          >
            {{error}}
          </div>
          <form action="{% url 'survey:change_password' %}" method="post" enctype="multipart/form-data" id="main_form" class="forgetPasswordBlock form-horizontal">
            {% csrf_token %}
            <!-- Name -->
            <div class="form-group mb-4">
              <label for="oldpassword" class="control-label col-lg-4">Old password:</label>
              <div class="col-lg-12">
                <input name="oldpassword" id="oldpassword" type="password" class="form-control">
              </div>
            </div>   
            <!-- Email -->
            <div class="form-group">
              <label for="newpassword" class="control-label col-lg-4">New password:</label>
              <div class="col-lg-12">
                <input name="newpassword" id="newpassword" type="password" class="form-control"> 
              </div>
              <div class="col-lg-3">
                <span id="result"></span>
              </div>
            </div>
            <!-- Telephone -->
            <div class="form-group">
              <label for="confirmpassword" class="control-label col-lg-4">Confirm password:</label>
              <div class="col-lg-12">
                <input name="confirmpassword"  id="confirmpassword" type="password" class="form-control">
              </div>
            </div>  
            <!-- Buttons -->
            <div class="form-group">
              <!-- Buttons -->
              <div class="col-lg-12">
                <input type="button" value="Submit" style="width:100%" class="button Submit btn btn-primary" id="changepasswdBtn" />
              </div>
            </div>
          </form>
        </div>  
      </div>
    </div>
  </div>
      
{% endblock%} 

{% block js %}
  <script type="text/javascript" src="{% static "js/" %}change_password.js"></script>
{% endblock %}
