{% extends "base_another.html" %}
{% load static %}

{% block page_title %} Change Password {% endblock %}
{% block header_left %}Change Password{% endblock %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container">

          <div class="row">

            <div class="col-md-12">

              <div class="widget">
                <div class="widget-head">
                  <div class="pull-left">Profile password</div>
                  <div class="clearfix"></div>
                </div>

                <div class="widget-content">
                  <div class="padd">
                  
                  
                  <div class="confirmationerrorContainer">
    <div class="confirmationerror alert alert-danger"
    {% if not error  %}
    style="display: none;"
    {% endif %}
    
        >
        {{error}}
    </div>
</div>
<div class="clearfix"></div>
                    
                    <!-- Profile form -->
                   
                                    <div class="form profile">
                                      <!-- Edit profile form (not working)-->
                                      <form action="{% url 'survey:change_password' %}" method="post" enctype="multipart/form-data" id="main_form" class="forgetPasswordBlock form-horizontal">
                                      {% csrf_token %}
                                          <!-- Name -->
                                          <div class="form-group">
                                            <label for="oldpassword" class="control-label col-lg-2">Old password</label>
                                            <div class="col-lg-6">
                                              <input name="oldpassword" id="oldpassword" type="password" class="form-control">
                                            </div>
                                          </div>   
                                          <!-- Email -->
                                          <div class="form-group">
                                            <label for="newpassword" class="control-label col-lg-2">New password</label>
                                            <div class="col-lg-6">
                                              <input name="newpassword" id="newpassword" type="password" class="form-control"> 
                                            </div>
                                            <div class="col-lg-2">
                                            	<span id="result"></span>
                                            </div>
                                          </div>
                                          <!-- Telephone -->
                                          <div class="form-group">
                                            <label for="confirmpassword" class="control-label col-lg-2">Confirm password</label>
                                            <div class="col-lg-6">
                                              <input name="confirmpassword"  id="confirmpassword" type="password" class="form-control">
                                            </div>
                                          </div>  

                                           
                                          
                                          <!-- Buttons -->
                                          <div class="form-group">
                                             <!-- Buttons -->
											 <div class="col-lg-6 col-lg-offset-2">
												<input type="button" value="Submit"  class="button Submit btn btn-primary" id="changepasswdBtn" />
											</div>
                                          </div>
                                      </form>
                                    </div>

                  </div>
                </div>
              </div>  
              
            </div>

          </div>

        </div>
{% endblock%} 

{% block page_extra %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/" %}/change_password.js"></script>
{% endblock %}

{% block footer_buttons2 %}   

    <div class="floatRight">
		<!--<input type="button" value="Submit"  class="rounded {transparent} button Submit" />-->
        <input type="button" value="Submit"  class="button Submit" id="changepasswdBtn" />
    </div>
{% endblock %}








            
<div class="clear"></div>
AAA
<div class="pageWrapper">
	<script type="text/javascript" src="{% static 'scripts/change_password.js' %}"></script>



<div class="confirmationerrorContainer">
    <div class="confirmationerror"
    {% if not error  %}
    style="display: none;"
    {% endif %}
    
        >
        {{error}}
    </div>
</div>




<form action="{% url 'survey:change_password' %}" method="post" enctype="multipart/form-data" id="main_form" class="forgetPasswordBlock">
	{% csrf_token %}
    
	<div class="inputRow">
		<div class="labelBlock">
    		<label for="oldpassword">Old password</label>
        </div>

	<div class="inputBlock">
            <input name="oldpassword" id="oldpassword" type="password" />
	</div>

    </div>
    
    <div class="clear"></div>

	<div class="inputRow">
		<div class="labelBlock">
    		<label for="newpassword">New password</label>
        </div>
        <div class="inputBlock">
            <input name="newpassword" id="newpassword" type="password" /> <span id="result"></span>
        </div>
    </div>

    <div class="clear"></div>

	<div class="inputRow">
		<div class="labelBlock">
    		<label for="confirmpassword">Confirm password</label>
        </div>
        <div class="inputBlock">
	        <input name="confirmpassword"  id="confirmpassword" type="password" />
        </div>
    </div>
    <div class="clear"></div>
</form>
</div>