{% extends "base_login.html" %}
{% load static %}
{% block content %}

<style>
.curvyTabLogin{
	visibility:hidden;
}
</style>

<script type="text/javascript" src="{% static 'scripts/jquery.validate.js' %}"></script>
    
    
<script type="text/javascript">
    $(document).ready(function () {
        $(".cmxform").validate();
    });
</script>

<div>
{{message}}{%if showLoginLink %}You may now <a href="{% url 'survey:user_login' %}?next=/" >login</a> using your new password.{%endif%}
</div>
<br>

{%if showform  %}
<form class="cmxform" method="post">
{% csrf_token %}

	<div class="inputRow">
		<div class="labelBlock">
			<label for="Password">Password</label><em>*</em>
		</div>
		<div class="inputBlock">
	        <div class="loginInput">
				<input type="password" id="Password" name="Password" size="25"  class="required" minlength="2"/>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	
	<div class="inputRow">
		<div class="labelBlock">
			<label for="ConfirmPassword">Confirm Password</label><em>*</em>
		</div>
		<div class="inputBlock">
	        <div class="loginInput">
				<input type="password" id="ConfirmPassword" name="ConfirmPassword" size="25"  class="required" minlength="2"/>
			</div>
		</div>
	</div>
	<div class="inputRow">
		<div class="labelBlock">&nbsp;</div>
	    <div class="inputBlock">
			<input type="submit" id="submit" value="Submit"  /> 
	    </div>
	    <div class="clear"></div>
	</div>				
<!-- <p>
			<label for="Password">Password</label>
			<em>*</em>
			<input type="password" id="Password" name="Password" size="25" class="required" minlength="2" />
		</p>
<p>
			<label for="ConfirmPassword">Confirm Password</label>
			<em>*</em>
			<input type="password" id="ConfirmPassword" name="ConfirmPassword" size="25" class="required" minlength="2" />
		</p> 

<input type="submit" />-->
</form>
{%endif%}

{% endblock %}
