body {
	background-image:url(../images/bg_grid_login.png);
	background-repeat:repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color:#e9e9e9;
}


a:link {
	color:#0079be;
	text-decoration:none;
}
a:visited {
	color:#0079be;
	text-decoration:none;
}
a:hover {
	color:#0079be;
	text-decoration:underline;
}
a:active {
	color:#0079be;
	text-decoration:none;
}

.loginBoxShadTop{
	background-image:url(../images/bg_shad_login.png);
	background-position:center top;
	background-repeat:no-repeat;
	height:16px;
	margin-top:11px;
}

.loginBlock{
	width:485px;
	text-align:center;
	margin:0 auto;
	margin-top:100px;
}


.bgShadLogin{
	background-image:url(../images/bg_footer_shad.png);
	background-repeat:no-repeat;
	background-position:center 155px ;
}

.bgLoginHeader{
	background-image:url(../images/login_box_top.png);
	background-repeat:no-repeat;
	background-position:bottom;
	height:80px;
	padding-right:30px;
}


.bgLoginFooter{
	background-image:url(../images/login_box_footer.png);
	background-repeat:no-repeat;
	background-position:bottom;
	height:90px;
	text-align:center;
}

.bgLoginHeader a:link {
	color:#FFF;
	text-decoration:none;
}
.bgLoginHeader a:visited {
	color:#FFF;
	text-decoration:none;
}
.bgLoginHeader a:hover {
	color:#FFF;
	text-decoration:underline;
}
.bgLoginHeader a:active {
	color:#FFF;
	text-decoration:none;
}



.bgLoginContents{
	background-image:url(../images/login_box_contents.png);
	background-repeat:no-repeat;
	background-position:bottom;
	min-height:130px;
	padding-top:10px;
}

.loginInput{
	background-image:url(../images/bg_input_login.png);
	background-repeat:no-repeat;
	background-color:transparent;
	border:none;
	width:260px;
	height:30px;
	padding-top:6px;
	padding-left:10px;
	padding-right:10px;
}


.loginInput input[type=text], .loginInput input[type=password]{
	width:250px;
	border:0px;
}
.notificationMessage{
	background-color:#f9f8e2;
	border:#ffcccc 1px solid;
	width:85%;
	text-align:center;
	margin:0 auto;
	padding:5px;
	margin-bottom:10px;
}

.btnLogin{
	background-image:url(../images/btn_login.png);
	background-repeat:no-repeat;
	background-color:transparent;
	border:none;
	width:145px;
	height:29px;
	color:#FFF;
	font-weight:bold;
	float:left;
	margin-left:10px;

}




.labelBlock{
	float:left;
	width:140px;
	margin-left:30px;
	margin-top:8px;
	text-align:left;
}

.inputBlock{
	float:left;
	width:300px;
	text-align:left;
}
.inputRow{
	padding-bottom:10px;
}

.container {

}
.logoBlock{
	float:left;
	padding-left:20px;
}

.logoBlock a{
    display:block;
    height:40px;
    width:144px;
    background:url('../images/logo.png') 0 0 no-repeat;
}

.topNavLinksBlock{
	margin-top:10px;
}

label{
	font-size:12px;
	margin-top:10px;
	margin-bottom:4px;
	color:#747474;
}

.required{
	color:#F00;
}

/* foooter */
.footerBlock{
	font-size:10px;
	color:#FFF;
	padding-top:30px;
}
.footerBlock a:link {
	color:#FFF;
	text-decoration:none;
}
.footerBlock a:visited {
	color:#FFF;
	text-decoration:none;
}
.footerBlock a:hover {
	color:#FFF;
	text-decoration:underline;
}
.footerBlock a:active {
	color:#FFF;
	text-decoration:none;
}

.copyright{
	text-align:left;
	padding-left:20px;
	padding-top:35px;
	color:#333333;
	font-size:9px;
	width:200px;
	float:left;
}
.poweredbyBlock{
	text-align:left;
	margin-right:20px;
	padding-top:30px;
	color:#333333;
	font-size:9px;
	float:right;
	color:#333333;
}


.providedbyBlock{
	text-align:left;
	margin-right:20px;
	padding-top:30px;
	float:right;
	color:#333333;
}
.logoSep{
	float:right;
}

.curvyTabLogin{
	margin: 0 auto;
	border: 0px solid #ffffff;
	width: 70px;
	padding: 10px 10px 0px 10px;
	text-align: left;
	background-color:#747474;
	height:20px;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	float:right;
	margin-right:10px;
	margin-top:25px;
	/* Do rounding (native in Firefox and Safari, CC in IE) 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	CCborderRadius: 8px;*/
}

.selectedCurve{
	background-color:#007ec2;
}
.gridHeaderTitlesBlock{
	font-weight:bold;
	color:#333;
	height:32px;
}

.headerMenuBlock{
	background-image:url(../images/bg_header_icons.png);
	background-repeat:repeat-x;
	height:100px;
}



/**/
	a.rounded, .button {
		outline: none;
		border: none;
		text-decoration: none;
		cursor: pointer;
		white-space: nowrap;
		vertical-align: middle;
		display: -moz-inline-box;
		display: inline-block;
		overflow: visible;
		color:#FFF;
	}
	
	.button {
		color: #FFF;
		background-color: #757575;
		padding: 8px 12px;
	}
	
	.button:hover {
		background-color: #9a9a9a;
	}

/**/

.optionalMessage{
	font-size:9px;
	font-weight:normal;
}


.loginSecondBlock{
	width:456px;
	text-align:center;
	margin:0 auto;
	background-image:url(../images/bg_grid_login.png);
	background-repeat:repeat-x;
	border-top:1px solid #CCC;
}

.loginSecondBlock h2{
	text-align:left;
	margin-left:15px;
	margin-top:15px;
	margin-bottom:15px;
	text-transform:uppercase;
	color:#666;
}

.loginBlueSection{
	background-image:url(../images/bg_login_diff_color.png);
	background-repeat:no-repeat;
	padding-top:10px;
	padding-bottom:0px;
}


.confirmationerrorContainer{
	width:370px;
	margin-bottom:10px;
	background-color:#00FF00;
	text-align:center;
	margin:0 auto 10px auto;
}


input:focus {
    outline: none;
}

.forgetPasswordLink{
	padding-left:5px;
}

.showOnce{
	position:absolute;
	width:107px;
	height:56px;
	margin-left:-85px;
	background-image:url(../images/bg_bubble_show_once.png);
	background-repeat:no-repeat;
	margin-top:-14px;
	display:block;
}