<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ReadyForAgile - Agile Readiness Assessment</title>
</head>

<body>


<table width="620" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333;">
    <tr>
        <td height="60"><div style="font-size:18px;"><strong>ReadyForAgile - Agile Readiness Assessment</strong></div></td>
    </tr>
    <tr>
        <td><hr  style="color:#CCCCCC; height:1px; size:1px; border:0px; border-bottom:1px solid #CCC"/></td>
    </tr>
    <tr>
        <td>
          <p>Greetings  {{first_name}}, <br>
              <br>
            VzW IT is exploring ways to improve our processes to enable us to deliver more value to our customers.  As a customer of IT, we need your input. Please accept this request to participate in our readiness assessment.   This assessment evaluates our readiness to transform to more agile techniques for creating and delivering software. </p>
            <p>Please take the assessment with our current environment in mind.  You do not need to have any agile experience.  We are assessing VzW as it is today.</p>
          <p>It will take between 5 and 10 minutes. The assessment will resume from the last unanswered question, allowing you to complete it in multiple sessions, as needed.</p>
          <p>All responses are strictly confidential and anonymous. Please complete the assessment in the next few days.</p>
          <p>Click on the link below to login. Please keep this email as a reference of your account details. When you get to the first page, you will be asked to select your role because the assessment is customized by role.<br>
          </p>
          	<div>
                <div style="font-size:15px; margin-bottom:14px; font-weight:bold;">Login info...</div>
                <table border="0" cellpadding="4" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333;">
                    <tr>
                        <td><strong>URL: </strong></td>
                        <td><a href="http://vzw.dragile.com">http://vzw.dragile.com</a></td>
                    </tr>
    
                    <tr>
                        <td><strong>Account login:</strong></td>
                        <td>{{user_name}}</td>
                    </tr>
    
    
                    <tr>
                        <td><strong>Password:</strong></td>
                        <td>{{password}}</td>
                    </tr>
    
                </table>
          </div>

        <div style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333;">
            <p><strong>We know your time is valuable and make this request only because your input is vital. Thank you for your support. </strong></p>
            <p>If you have any questions, please contact us at <a href="mailto:agile@verizonwireless.com">agile@verizonwireless.com</a>.</p>
            <p>&nbsp;</p>
            <p><strong>Donna Williams-Snead and Gina Philbrick</strong><br />
                Agile Transformation Leads<br>
            </p>
        </div>
        </td>
    </tr>
    <tr>
        <td><hr  style="color:#CCCCCC; height:1px; size:1px; border:0px; border-bottom:1px solid #CCC"/></td>
    </tr>
    <tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:10px;">&copy; 2011 ReadyForAgile. Copyright/Trademarks | Policy Privacy</td>
    </tr>
</table>
</body>
</html>