/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #f0f4f7;
}

.body_content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 28px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
::-webkit-scrollbar {
    width: 10px;
    height:10px;
  }

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 2px grey; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #535353; 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    cursor: all-scroll;
}
.title {
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #43425d;
}

span {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.93;
    letter-spacing: normal;
    text-align: left;
    color: #b3b3b3;
}

h2 {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.subTitle {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.65;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
    padding-left: 37px;
    padding-top: 41px;
}


a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 11px 0px 14px 0px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #464a53;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #474f57;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;

}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #474f57;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 0px 0;
    border-bottom: 1px solid #474f57;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}


  /* Style the active class, and buttons on mouse-over */
  .active {
    background-color: #616b75;
    color: white;
  }
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background-color: #616b75;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #474f57;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #474f57;
}

a.article,
a.article:hover {
    background: #474f57 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* modal style
 */
.checkbox {
    width: 13px;
    height: 13px;
    border: solid 1px #101010;
    background-color: #ffffff;
    margin-left: 10px;
}
.custom-checkbox .custom-control-label::before {
    width: 16px !important;
    height: 16px !important;
    border-radius: 2px !important;
    border: solid 1px #101010 !important;
    background-color: #ffffff;
}
.custom-checkbox .custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}
  
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    border-radius: 2px;
    background-color:#ffffff;
    box-shadow: none;
    border: none;
    color: #000000;
    font-family: "helvetica";
    font-size: 13px;
    letter-spacing: 0.45px;
    line-height: 15px;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='red' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 10px;
}
  .custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: middle;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #43425d;
  }
.fontNormal{
    font-weight: normal
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */


.headerTitle {
    font-family: SourceSansPro;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 3px;
    text-align: left;
    color: #ffffff;
}

.containerLeft,
.containerRigth {
    height: auto;
    background-color: #ffffff;
    width: 47%;
    /*     padding-left: 37px;
    padding-right: 37px;
    padding-top: 43px;
    padding-bottom: 43px; */
}

.circleStyle {
    width: 16px;
    height: 16px;
    background-color: #3b86ff;
    border-radius: 50%;

}

.circleStyle2 {
    width: 16px;
    height: 16px;
    background-color:
        #01a300;
    border-radius: 50%;
}

.hrHeader {
    margin-top: 21px;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #e8e9ec;
    ;
}

.hr {
    margin-top: 40px;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #e8e9ec;
    ;
}

.bodyContent {
    padding-top: 20px;
}

.containerLeft {
    display: inline-block;
    padding-top: 31px;
    padding-right: 34px;
    padding-left: 37px;
    border-bottom: 1px solid #e8e9ec;
}

.containerLeft .headerLeft {
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.72;
    letter-spacing: normal;
    text-align: left;
    color: #3b86ff;
}

.containerLeft .headerRight {


    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.72;
    letter-spacing: normal;
    text-align: left;
    color: #01a300;
}

.containerLeft .LeftContent {
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #43425d;
}

.AssessmentContainer {
    height: auto;
    background-color: #ffffff;
    width: 100%;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 43px;
    padding-bottom: 43px;

}

.AssessmentContainer p {
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #575757;

}

.left {
    float: left;
}

.right {
    float: right;
}

.btn-start {
    width: 100%;
    height: 50px;
    background-color: #01a300;
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.linkContainer {
    width: 100%;
    height: 37px;
    border: solid 1px #caced5;
    background-color: #f2f2f2;
}
.AssessmentContainer .linkedCopied{
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #3b86ff;
    padding-top: 10px;
}
.linkContainer p {
    font-family: SourceSansPro;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #cfcccc;
    padding-left: 10px;
    padding-top: 3px;
}

/* .btn-primary {
    width: 100%;
} */

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #bbbbbb;
    border-color: #bbbbbb;
}

.bg-warning {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
    border: solid 1px #d8d8d8 !important;
    background-color: #ffffff !important;
    height: auto;
    width: 59%;
}

.bg-info {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
    border: solid 1px #d8d8d8 !important;
    background-color: #ffffff !important;
    height: fit-content;
    width: 39%;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    /*padding: 1rem;*/
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

.modalHeader {
    font-family: Poppins;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #43425d;

}

.subtitleModal {
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #575757;
}

.headertitleContainer {
    display: inline-block;
    border-bottom: 1px solid #fafafb;
    width: 100%;
    padding-top: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.headertitleContainer p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.22;
    letter-spacing: normal;
    text-align: left;
    color: #43425d;
}
.labelheaderRigth{
    margin-top: 7px;
}
.headertitleContainerRight {
    display: inline-block;
    border-bottom: 1px solid #fafafb;
    width: 100%;
    padding-top: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.headertitleContainerRight p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.22;
    letter-spacing: normal;
    text-align: left;
    color: #43425d;
}

.centerDiv {
    display: inline-block;
    border-bottom: 1px solid #fafafb;
    width: 100%;
    padding-top: 17px;
    min-height: 61px;
    /* padding-bottom: 8px; */
    padding-left: 10px;
    padding-right: 25px;
    box-shadow: none;
    background-color: #f1f1f1;
    margin-top: -5px;
}

.centerDiv p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #43425d;
}

.lastDiv, .lastDivs {
    display: flex;
    width: 100%;
    /* padding-top: 17px; */
    /* min-height: 61px; */
    /* padding-bottom: 8px; */
    /* padding-left: 10px; */
    /* padding-right: 25px; */
    border-bottom: 1px solid #f1f1f3;
    /* margin-top: -5px; */
    padding: 14px 10px;
    height: 54px;
    padding-right: 27px;
}

.lastDivs{
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 10px;
}

.custom-class{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.lastDiv p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: left;
    color: #43425d;
}

.btnsContainer {
    padding-top: 40px;
    padding-bottom: 50px;
}

.btn-Done {
    width: 165px;
    height: 53.2px;
    background-color: #3b86ff;
    font-family: Poppins;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-left: 40px;
}

.btn-Cancel {
    width: 165px;
    height: 53.2px;
    border: solid 1px #43425d;
    background-color: #ffffff;
    font-family: Poppins;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #707070;
}
.inputLink{
    border: none;
    width: 100%;
    background-color: transparent;
    padding-top: 5px;
    padding-left: 10px;
}
@media (max-width: 1250px) {
    .body_content {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 28px;
    }
}
@media (max-width: 768px) {

    .bg-info,
    .bg-warning {

        width: 100% !important;
        margin-bottom: 30px;
    }

    .menuText {
        display: none
    }

    #sidebar {
        min-width: 40px;
    }

    .body_content {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 28px;
    }

    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
    }

    .linkContainer {
        width: 100% !important;
    }

    .linkContainer p {
        font-size: 12px !important;
    }

    .containerLeft,
    .containerRigth {
        width: 100% !important;
        margin-bottom: 30px;
    }

    .d-flex {
        display: inline !important;
    }

    #sidebar.active .sidebar-header h3,
    #sidebar.active .CTAs {
        display: none;
    }

    #sidebar.active .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        text-align: left;
    }

    #sidebar.active ul li a {
        padding: 20px 10px;
        text-align: center;
        font-size: 0.85em;

    }

    #sidebar.active ul li a i {
        margin-right: 0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    #sidebar.active .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar .sidebar-header {
        padding: 20px;
        padding-left: 0px;
        background: #474f57;
    }

    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }

    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }

    #sidebar {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
    .modal-body {
      
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
    }
 
    .btnsContainer {
        padding-top: 40px;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
    }
}

.sidebar-submenu{
    display: none;
}
.showed{
    display: inline-flex;
}
.rotate {
    transform: rotate(-90deg);

}
.fa-chevron-left{
    transition-duration: 0.5s;
    display: inline-block
}

.sidebar-submenu ul, .pull-right  {

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar-submenu ul  {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.sidebar-submenu ul li :hover {
    background-color:#616b75;

}
#reports .pull-right{
    float: right;
    margin-top: 9px;
    color: #ffff;
}


.menu{
    list-style: none;
    display: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    /* display: flex; */
    background-color: var(--color-menu);
}

.submenu a, .submenu-admin a{

    background-color: #fff;
    color: black;
    
}
.submenu, .submenu-admin{
    /* display: none; */
    position: absolute;
    z-index: 99999;
    top: 144%;
    background-color: #fff;
}
.submenu{

    right:4%;
}
.submenu-admin{
    right:3%;
}
.submenu li :hover, .submenu-admin li :hover{
    background-color: #616b75;
    color:#fff
}

.user-icon{
    /* transform: rotate(180deg); */
    transition-duration: 0.5s;
    display: inline-block
}
.user-rotate{
    transform: rotate(180deg);
}
.menu-link{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: .5em 1em
}
.footer{

    padding: 15px;
    background-color: #fff;
       
}
.nfo{
    background-color: #F9F9F9;
    color: #0099FF;
    display: block;
    float: right !important;
    cursor: help;
    height: 32px;
    line-height: 30px;
    margin: 0 10px !important;
    text-align: center;
    width: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 18px;
}
#brand, .copy{

    color: #43425d;
    font-size: 20px;
}
.copy{
    position: relative;
    left: 35%;
}
@media(min-width:850px){
    .copy{
        left: 35%;
    }
}
@media(max-width:849px){
    .copy{
        left:32%;
    }
}
@media(max-width:480px){
    .copy{
        left:20%;
    }
}
.page-title{
    padding: 10px;
}
.pull-right{
    float: right;
}
.pagesIndex .pageIndex{
    border: solid 1px #e8e9ec;
    background-color: #ffffff;
    color: #4d4f5c;
}
.currentPageIndex {
    background-color: #535353 !important;
    color: #ffff !important;
    cursor: default!important;
}
.page-link{
    padding: 4px 9px;
    margin-top: 2px;
}
/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #f0f4f7;
}

.body_content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 28px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.title {
    font-family: 'Poppins';
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #43425d;
}
.breadcrumbs{
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: left;
    color: #9a9a9a;    
}
.titleSpan{
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: left;
    color: #9a9a9a;
}

span {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    /* color: #ffffff; */
}
.subHeader{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.93;
    letter-spacing: normal;
    text-align: left;
    color: #b3b3b3;
}
h2 {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.subTitle {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.65;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
    padding-left: 24px;
    /* padding-top: 24px; */
    margin-block-start: 0em;
    margin-block-end: 0em;
    /* padding-bottom: 16px;*/
}

.subTitle span{
    clear: both;
    font-size: 16px;
    font-weight: bold;
    color: #4d4f5c;
    padding-left: 4px;
}
.subTitlePadding{
    padding-top: 24px; 
    padding-bottom: 16px;
}

.AssessmentCustom{
    height: 100px;
    display: flex;
    align-items: center;
}

.assessmentBody{
    width: 90%;
}

.searchdiv{
    padding: 0;
    height: fit-content;
    display: flex;
    align-items: center;
    position: relative;
}

.searchbox{
    padding: 0;
    padding-left: 54px;
    height: 30px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
}

#selectOption{
    height: 26px;
    padding: 0;
    padding-left: 9px;
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
}
option[hidden]{
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
}
option{
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
}

.btn-apply{
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    height: 24px;
}

.addCandidatesContainer{
    width: 100%;
    padding: 0 15px;
}

.result{
    clear: both;
    height: 400px;
    width: 100%;
    overflow-y: scroll;
}

.table{
    overflow: auto !important;
    width: 100%;
    min-width: 950px;
}
tr{
    background-color: rgb(255, 255, 255);
    height: 40px;
    vertical-align: middle;
}

#users_table thead th{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
    padding: 0;
    vertical-align: middle;
    position: relative;
}

.table td, .table th {
    padding: 0;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    height: 40px;
    vertical-align: middle;
    text-align: left;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
}

.usercheckbox {
     background: url(../img/checkbox.png) no-repeat top left;
     height: 21px;
     width: 23px; 
    cursor: pointer;
    margin: auto;
    /*width: 12px;
    height: 12px;*/
    object-fit: contain;
    border: solid 1px #a3a6b4;
}

.editabletext {
    text-align: left;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
    /* width: 102px; */
}

.status{
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
}

.avatar {
    position: relative;
    width: 21px;
    height: 21px;
    background-color: #0945A5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: unset !important;
}

.submenu-status {
    width: 155.3px;
    color: #686868;
    position: absolute;
    z-index: 99999;
    top: 40px;
    right: 11px;
    background-color: #fff;
    margin: auto;
    padding: 10px 16px;
}

.submenu-status li{
    display: flex;
    align-items: center;
    height: 32px;
}
.menu-link {
    text-decoration: none;
    color: #fff;
    /* display: inline-flex; */
    /* padding: .5em 1em; */
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #686868;
    /* height: 32px;*/
}

.menu-link i{
    float: none;
    font-size: 10px;
}

.page-link {
 margin-top: 0px;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 0px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 70px;
  
}
#sidebar ul li a span {
padding-left: 10px !important;
  
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #464a53;
} 

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #474f57;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;

}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #474f57;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 0px 0;
    border-bottom: 1px solid #474f57;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}


  /* Style the active class, and buttons on mouse-over */
  .active {
    background-color: #616b75;
    color: white;
  }
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background-color: #616b75;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #474f57;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #474f57;
}

a.article,
a.article:hover {
    background: #474f57 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    overflow-x: hidden;
}

/* modal style
 */
.checkbox {
    width: 13px;
    height: 13px;
    border: solid 1px #101010;
    background-color: #ffffff;
    margin-left: 10px;
}
.custom-checkbox .custom-control-label::before {
    width: 16px !important;
    height: 16px !important;
    border-radius: 2px !important;
    border: solid 1px #101010 !important;
    background-color: #ffffff;
  }
  .custom-checkbox .custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
  }
  
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    border-radius: 2px;
    background-color:#ffffff;
    box-shadow: none;
    border: none;
    color: #000000;
    font-family: "helvetica";
    font-size: 13px;
    letter-spacing: 0.45px;
    line-height: 15px;
  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::after{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='red' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 10px;
    overflow-wrap: break-word;
    word-break: break-word;
}
  .custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: middle;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #43425d;
  }
.fontNormal{
    font-weight: normal
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */


.headerTitle {
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 3px;
    text-align: left;
    color: #ffffff;
}

.containerLeft,
.containerRigth {
    height: auto;
    background-color: #ffffff;
    width: 47%;
    /*     padding-left: 37px;
    padding-right: 37px;
    padding-top: 43px;
    padding-bottom: 43px; */
}

.circleStyle {
    width: 12px;
    height: 12px;
    background-color: #3b86ff;
    border-radius: 50%;

}

.circleStyle2 {
    width: 12px;
    height: 12px;
    background-color:
        #01a300;
    border-radius: 50%;
}

.hrHeader {
    margin-top: 11px;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #e8e9ec;
    ;
}

.hr {
    margin-top: 15px;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #e8e9ec;
    ;
}

.bodyContent {
    padding-top: 0px;
}

.containerLeft {
    display: inline-block;
    padding-top: 22px;
    padding-right: 34px;
    padding-left: 37px;
    border-bottom: 1px solid #e8e9ec;
    height: 470px;
    overflow-y: scroll;
}

.containerLeft .headerLeft {
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.72;
    letter-spacing: normal;
    text-align: left;
    color: #3b86ff;
}

.containerLeft .headerRight {


    font-family: Poppins;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.72;
    letter-spacing: normal;
    text-align: left;
    color: #01a300;
}

.containerLeft .LeftContent {
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #43425d;
}

.AssessmentContainer {
    background-color: #ffffff;
    /* width: 100%; */
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);

}
.assessmentBtn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.assessmentBtn a{
    font-size: 15px;
    height: 40px;
    /* padding: 0px; */
    text-align: center;
    margin: 0;
    /* display: flex; */
    /* align-items: center; */
    background-color: #01a300;
    border-color: #01a300;
    border-radius: 4px;
}
.searchBarContainer{
    padding-top: 24px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
}

.AssessmentContainer p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #575757;

}

.left {
    float: left;
}

.right {
    float: right;
}

.btn-start {
    width: 100%;
    height: 40px;
    background-color: #01a300;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.linkContainer {
    width: 100%;
    height: 37px;
    border: solid 1px #caced5;
    background-color: #f2f2f2;
}
.AssessmentContainer .linkedCopied{
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #3b86ff;
    padding-top: 10px;
}
.linkContainer p {
    font-family: SourceSansPro;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #cfcccc;
    padding-left: 10px;
    padding-top: 3px;
}


.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #bbbbbb;
    border-color: #bbbbbb;
}

.bg-warning {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
    border: solid 1px #d8d8d8 !important;
    background-color: #ffffff !important;
    height: fit-content;
    width: 49%;
}

.bg-info {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
    border: solid 1px #d8d8d8 !important;
    background-color: #ffffff !important;
    height: fit-content;
    width: 49%;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

.modalHeader {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: #43425d;

}

.subtitleModal {
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #575757;
}

.headerContainerRow{
    align-items: center;
    width: 100%;
}
.headertitleContainer {
    display: inline-block;
    width: 100%;
    padding: 14px 10px;
    border-bottom: 1px solid rgba(158,158,158,.5);
}
.headertitleContainerCol{
    padding-right: 0px !important;
}
.headerContainerlink{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}
.headertitleContainer p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.22;
    letter-spacing: normal;
    text-align: left;
    color: #43425d;
}
.labelheaderRigth{
    margin-top: 7px;
}
.headertitleContainerRight {
    display: inline-block;
    border-bottom: 1px solid #c2c2c2;
    width: 100%;
    padding: 14px 10px;
}

.headertitleContainerRight p {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.22;
    letter-spacing: normal;
    text-align: left;
    color: #43425d;
    margin-bottom: 5px;
}

/* .centerDiv {
    display: inline-block;
    border-bottom: 1px solid #fafafb;
    width: 100%;
    padding-top: 17px;
    padding-left: 10px;
    padding-right: 25px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #f1f1f1;
    margin-top: -5px;
} */

.centerDiv p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #43425d;
}

/* .lastDiv {
    display: inline-block;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 25px;
    border-bottom: 1px solid #f1f1f3;
} */

.lastDiv p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #43425d;
}

.btnsContainer {
    padding-top: 30px;
    padding-bottom: 20px;
}

.btn-Done {
    width: 120px;
    height: 40px;
    background-color: #3b86ff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-left: 20px;
}

.btn-Cancel {
    width: 120px;
    height: 40px;
    border: solid 1px #43425d;
    background-color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #707070;
}
.inputLink{
    border: none;
    width: 100%;
    background-color: transparent;
    padding-top: 5px;
    padding-left: 10px;
}
@media (max-width: 1250px) {
    .body_content {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 28px;
    }
}
@media (max-width: 768px) {

    .bg-info,
    .bg-warning {

        width: 100% !important;
        margin-bottom: 30px;
    }

    .menuText {
        display: none
    }

    #sidebar {
        min-width: 40px;
    }

    .body_content {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 28px;
    }

    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
    }

    .linkContainer {
        width: 100% !important;
    }

    .linkContainer p {
        font-size: 12px !important;
    }

    .containerLeft,
    .containerRigth {
        width: 100% !important;
        margin-bottom: 30px;
    }

    .d-flex {
        display: inline !important;
    }

    #sidebar.active .sidebar-header h3,
    #sidebar.active .CTAs {
        display: none;
    }

    #sidebar.active .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        text-align: left;
    }

    #sidebar.active ul li a {
        padding: 20px 10px;
        text-align: center;
        font-size: 0.85em;

    }

    #sidebar.active ul li a i {
        margin-right: 0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    #sidebar.active .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar .sidebar-header {
        padding: 20px;
        padding-left: 0px;
        background: #474f57;
    }

    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }

    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }

    #sidebar {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
    .modal-body {
      
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
    }
 
    .btnsContainer {
        padding-top: 40px;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
    }
}

.row{
    margin-right: 0px !important; 
    margin-left: 0px !important;
}