    div.slider {
        display: block;
        float: left;
        height: 36px;
        margin-right: 6px;
		margin-left:6px;
        padding-right: 15px;
        text-decoration: none;
        color: #545454;
        font-family: Arial, Helvetica, sans-serif;
        font-size:12px;
		text-align:center;
    }
    div.slider span {
        display: block;
        padding: 2px 0 5px 18px;
		height:28px;
		min-width:200px;
    }
	
	div.slider ul {
		margin:0px;
		padding:0px;
		list-style:none;
	}
	div.slider li {
		width:52px;
		height:32px;
		background-image:url("../../images/iphone/img_slider_normal.png");
		background-repeat:no-repeat;
		background-position:center top;
		float:left;
		margin-right:10px;
	}
	
	div.slider li a{
		display:block;
		width:100%;
		height:100%;
		padding-top:35px;
		text-align:center;
		color:#545454;
		text-decoration:none;
	}

/*
	div.slider li a:hover{
		background-image:url("../../images/iphone/img_slider_over.png");
		background-position:center top;
		background-repeat:no-repeat;
		color:#005482;
		text-decoration:none;
	}
*/
	div.slider .selected a{
		background-image:url("../../images/iphone/img_slider_over.png");
		background-position:center top;
		background-repeat:no-repeat;
		color:#005482;
		text-decoration:none;
	}




@media screen and (max-width: 320px)
{
    div.slider {
        margin-right: 4px;
		margin-left:4px;
    }
    div.slider span {
		min-width:200px;
    }
	
	div.slider li {
		width:44px;
	}
	
	div.slider li a{
		
	}

	div.slider li a:hover{

	}

	div.slider .selected a{

	}

}


@media screen and (min-width: 321px)
{
    div.slider {
        margin-right: 8px;
		margin-left:8px;

    }
    div.slider span {
		min-width:420px;
    }
	
	div.slider ul {

	}
	div.slider li {
		width:75px;
	}
}