.questions-layout a.btn.single{
    background:url('../../img/single-icon.png') 8px center no-repeat;
}

.questions-layout a.btn.multiples{
    background:url('../../img/multiple-icon.png') 8px center no-repeat;
}

.questions-layout a{
    padding-left:30px;
}

.page-title a.btn{
    font-size:12px;
}

.page-title .col-md-5.pull-right{
    text-align:right;
}

.page-title .col-md-5.pull-right .questions-sort{
    margin-right:20px;
}

.page-title .col-md-5.pull-right .submit-survey, .page-title .col-md-5.pull-right .submit-survey:hover{
    font-size:12px;
    background:#5eb75d;
    border:1px solid #52a752;
    color:#fff;
}

.questions{
    margin-top:18px;
    background:#fff;
    border:1px solid #c9c9c9;
    border-radius:2px;
}
.questions .progress-bar{
	line-height:16px;
}
.questions .questions-header{
    padding: 5px 15px;
    border-bottom:1px solid #c9c9c9;
}

.questions .questions-header .counter{
    margin-top:20px;
    color:#9d9d9d;
}

.questions .questions-items div.row{
    padding:15px;
    border-bottom:1px solid #ddd;
}

.questions .questions-items div.row.odd{
    background:#f9f9f9;
}

.questions .questions-items div.row .answers{
    padding-right:0;
    text-align:right;
}
.page-title .questions-sort .active{
    color: #fff;
}
.questions-items{
    height:500px;
    overflow:auto;
}
.lvalue {
  line-height: 16px;
  margin-top: 5px !important;
}

.questions-items .answer-type, .answer-option .answer-type{
    height: 21px;
    width: 21px;
    display:inline-block;
    margin-right: 5px;
    background:url("/static/js/ezMark/images/radio-red.png") no-repeat 0 0;
    cursor:pointer;
}

.answer-option .answer-type{
    vertical-align:middle;
}

.questions-items .answer-type input, .answer-option .answer-type input{
    cursor:pointer;
}

.questions-items .answer-type.selected, .answer-option .answer-type.selected{
    background-position: 0 -22px;
}

.options{
    margin:0;
    padding:0;
    text-align:right;
}

.options li{
    list-style-type:none;
    display:inline-block;
    margin-left:5px;
    width: 50px;
    font-size:11px;
    vertical-align:top;
    text-align:center;
}

div.answer-option{
    display:inline-block;
    width:50px;
    margin-left:5px;
    text-align:center;
}

.progress-wrapper{
    margin-top:10px;
}

.indicators-wrapper{
    padding-left:0;
    height:494px;
    overflow:auto;
	border-right:solid 1px #C9C9C9;
}

.indicators-wrapper .indicators{
    padding:0;
    margin:0;
}
.indicators a, .indicators a:hover{
	text-decoration:underline;
}

.indicators-wrapper .indicators li{
    list-style-type:none;
    border-bottom:1px solid #e9e9e9;
    border-left:5px solid rgba(0,0,0,0);
    padding:8px 5px;
    font-size:12px;
    color:#808080;
    cursor:pointer;
}

.indicators-wrapper .indicators li.odd{
    background-color:#f9f9f9;
}

.indicators-wrapper .indicators li.answered, .indicators-wrapper .indicators li.answered.current{
    color:#368f36;
    border-left:5px solid #74c374;
}

.indicators-wrapper .indicators li.current{
	background-color: #EFEFEF;
	color: #000000;
	border-left:5px solid #999;
	box-shadow: inset 0px 0px 5px #999;
}

.answer-item h2{
    font-size:18px;
}

.answer-item{
    color:#1b1b1b;
    display:none;
}

.single .answer-option:hover .answer-type, .single .answer-option:hover{
	background-position:left -46px;
	color:#ca5240;
}
.single .answer-option:hover .answer-type.selected{
	background-position:left -22px!important;
}


.multiple .answer-type:hover{
	background-position:left -46px;
	color:#ca5240;
}
.multiple .answer-type.selected:hover{
	background-position:left -22px!important;
}

.answer-item p.question-text{
    margin-bottom:25px;
}

.answer-item ul{
    padding:25px 0 25px 0;
    margin:0;
    border:1px solid #f1f0f0;
}
.answer-item h2{
	color:#000;
	font-weight:bold;
}

.answer-item ul li{
    list-style-type:none;
    margin-left:20%;
}

.answer-item ul li label{
    font-weight:normal;
    cursor:pointer;
}

.answers-wrapper{
    max-height:500px;
    overflow:visible;
}
.scrollable.default-skin .scroll-bar.vertical {
  box-shadow: 0 0 5px #CCCCCC inset;
  width: 10px;
}
.scrollable.default-skin .scroll-bar .thumb {
  width: 7px;
  left: 2px;
}
.noapplicable {
  border-top: 1px solid #DEDEDE;
  margin-top: 6px;
  padding-top: 6px;
  width: 280px;
}
.questions.multiple .indicator{
	font-size:12px;
	line-height:14px;
}
.answer-option input[type="radio"] {
  height: 25px;
  left: -1px;
  position: relative;
  top: -7px;
  width: 25px;
}
.odd{
    background-color: #EFEFEF;
    padding: 5px;
}