{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <!-- Title and other stuffs -->
  <title>Ready For Agile | Survey closed</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Stylesheets -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  
  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="js/html5shim.js"></script>
  <![endif]-->

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
</head>

<body>
  {% comment %} {% if messages %} {% endcomment %}
  {% if messages %}

    {% for message in messages %}
      {{message}}
    {% endfor %} 
  {% endif %}
<!-- Form area -->
<div class="error-page">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <!-- Widget starts -->
        <div class="widget headless footless white">
          <!-- Widget head -->
          <div class="widget-head" style="text-align:center">
            <img src="{% static 'img/logo.png' %}" width="231" />
          </div>
	  <hr/>
          <div class="widget-content">
            <div class="padd error" style="text-align:center">
              
              <h1>Survey closed</h1>
              <p>Survey is closed by Administrator.</p>              
              <br />
              <a href="{% url 'survey:user_logout' %}">Log Out</a>
	      {% if message%}
	      <div class="confirmationaccept">
		{{message}}&nbsp;
	      </div>
	      {% endif %} <!-- -->
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div> 
</div>

<!-- JS -->
</body>
</html>
