{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <title>{% block page_title %} Survey {% endblock %} | Dr Agile</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favico.png" %}" />
    <link href="{% static 'styles/reset.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static 'styles/grid.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static 'styles/styles.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static 'styles/styles_admin.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static 'styles/messages.css' %}" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.js"></script>
    <script src="{% static 'scripts/jquery.corners.min.js' %}"></script>
  </head>

  <body>
    <div class="container_12 AA">
      <div class="grid_4">
	<div class="logoBlock">
          <a href="#"></a>
	</div>
      </div>

      <div class="grid_8 toFront">
	<div class="welcomeIcons">
	  {% if user.is_authenticated %}
	    <div class="icoWelcomeUser">
	      Welcome {{ user.get_profile.first_name }} (<a href="{% url 'survey:change_password' %}">Change Password</a>)
	    </div>
	    <div class="icoLogout">
	      <a href="{% url 'survey:user_logout' %}"><span>Logout</span></a>
	    </div>
	  {% else %}
	    <div>
	      Welcome, Please log in. <strong>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</strong>
	    </div>
	  {% endif %}          
          
	</div>
	{% block header_graphics %}{% endblock %}
      </div>

      <div class="clear"></div>
      <div class="grid_12">
	<div class="roundedBlock">
	  <div class="top">
	    <span></span>
	  </div>
	  <div class="center-content">

	    <div class="headerGridTitle">
	      {% block header_left %}
		<div class="floatLeft progressBarBlock">
		  <div class="progressBar pb5"></div>
		</div>
	      {% endblock %}
	    </div>
	    <div class="headerShadPages">
	      <div class="clear">
		&nbsp;
	      </div>
	      {% if message %}
		<div class="submit_form_message">
		  <div class="confirmationacceptWrapper">
		    <div class="confirmationaccept">
		      {{message}}
		    </div>
		  </div>
		</div>
	      {% endif %}
	      {% if error %}
		<div class="submit_form_message">
		  <div class="confirmationerrorContainer">
		    <div class="confirmationerror">
		      {{error}}
		    </div>
		  </div>
		</div>
	      {% endif %}
	      <!-- CONTENT BEGIN -->
	      {% block content %}
	      {% endblock %} <!-- CONTENT END -->
	      <div class="clear"></div>
	    </div>
	    <div class="clear"></div>
	  </div>
	  <div class="bottom">
	    <span></span>
	  </div>
	</div>
      </div>
      <div class="clear"></div>
      <div class="grid_6">
	<div class="copyright">
	  <p class="copy">Copyright &copy; {% now "Y" %} | <a href="/">ReadyForAgile.com</a> </p>
	</div>
      </div>
      <div class="grid_6">
	<div class="">
	  <div class="poweredbyBlock" title="Powered by "></div>
	  <div class="logoSep">
	    &nbsp;
	  </div>
	  <div class="providedbyBlock" title="Service provided by santeon group"></div>
	  <div class="logoSep">
	    &nbsp;
	  </div>
	</div>
      </div>
    </div>
    <div class="clear"></div>
  </body>
</html>
