table, th, td
{
border: 1px solid black;
}

table
{
   
    background: transparent   url(../images/bg_sliding_left.png) no-repeat 0 0;
    border:10px solid orange;

}
table,th, td
{

}
table {    -pdf-keep-in-frame-mode: shrink;}

.pdfo
{
     text-align:right;
     
}



table 
{
width:100%;
}
th
{
height:50px;
}


.page  {
  background: transparent   url(../images/bg_questions.png) no-repeat 0 0;
 
}