table {
	border-collapse: collapse;
}
table table {
	width: 100%;
}
.practice_header
{
	
}

.practice_header .practice_title{
	width:275px;
	text-align:left;
}

.practice_header .range{
	width:200px;
	text-align:center;
	margin-right:5px;
}

.practice {

	text-align: left;
	border: 1px solid #cccccc;
	margin:10px 0px;
	padding:5px;

	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	behavior: url(border-radius.htc);
	


  -moz-box-shadow: 0px 2px 6px #CCC;
  -webkit-box-shadow: 0px 2px 6px #CCC;
  box-shadow: 0px 2px 6px #CCC;
  /*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#CCCCCC')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#CCCCCC');*/
  
}
.practice_title {
	width: 200px;
	width:275px; 
	font-weight:bold;
	float:left;
}
.practice_description {
	display: none;
	position: absolute;
	width: 300px;
	padding: 5px;
	background-color: #aaaaaa;
	margin: 10px;
}
.characteristic {
	text-align: left;
	border-bottom: 0px solid #cccccc;
 
}
.characteristic_title {
	
}
.characteristic_min {
	border: 1px solid #cccccc;
	width: 50px;
}
.characteristic_max {
	border: 1px solid #cccccc;
	width: 50px;
}
.range {
	width: 200px;
	height:26px;
	border: 0px solid #cccccc;
	float:right;
}
.practice_readiness_range {
	margin-top: 6px;
	position: relative;	
	height: 10px;
	padding-right:14px;
}
.characteristic_readiness_range {
	margin-top: 5px;
	position: relative;	
	height: 10px;
	padding-right:14px;
}
.range_header {
	float: left;
	height: 40px;
	font-size: 10px;
	text-align: center;
}
.Not_Suitable {
	width: 60px;
	background-color: #CC0033;
}
.Partially_Suitable {
	width: 60px;
	background-color: #FFFF66;
}
.Largely_Suitable {
	width: 50px;
	background-color: #99FF33;
}
.Fully_Suitable {
	width: 30px;
	background-color: #33FF00;
}
.Not_Suitable_back {
	height: 20px;
	width: 60px;
	background-color: #FF9999;
	float: left;
}
.Partially_Suitable_back {
	height: 20px;
	width: 60px;
	background-color: #FFFF99;
	float: left;
}
.Largely_Suitable_back {
	height: 20px;
	width: 50px;
	background-color: #99FF66;
	float: left;
}
.Fully_Suitable_back {
	height: 20px;
	width: 30px;
	background-color: #00FF66;
	float: left;
}
.error_message {

	background-color: #cc0000;
	margin: 2px;
}
.popup .mask {
	position: absolute;
	z-index: 9000;
	background-color: #000;
	display: none;
	top: -200px;
	left: -300px;
}
.popup .window {
	position: absolute;
	display: none;
	z-index: 9999;
	padding: 5px;
	background-color: #eee;
	
}
.popup .window .content {
	margin 1px;
	width: 900px;
	height:500px;
	
	background-color: #fff;
	clear: both;
}
.popup .window .close{
	float: right;
}
.characteristics{
	display: none;
}

.characteristics .characteristic_title{
	color:#000000;
}
.show_practice_details{
	
}
.hide_practice_details{
	display: none;
}


.rang_grid{
	cursor:pointer;
}


.practice_bubble_bar_displacement{
	display:none;
	width:22px;
	height:22px;
	position:absolute;
	margin-top: -24px;
	background-image:url(../images/ico_practice_slider_bubble_dark.png);
	background-repeat:no-repeat;
	text-align:center;
	font-size:8px;
	color:#FFFFFF;
	padding-top:2px;
	z-index:1000;
}

.practice_bubble_bar_width{
	display:none;
	width:22px;
	height:22px;
	position:absolute;
	margin-top: -24px;
	margin-left: -3px;
	background-image:url(../images/ico_practice_slider_bubble.png);
	background-repeat:no-repeat;
	text-align:center;
	font-size:8px;
	padding-top:2px;
	z-index:100;
}