@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,latin-ext);
body{	
	font-family:'Open Sans', Calibri, sans-serif;
	font-size:15px;
	color: #333;
}
h1,h2,h3,h4,h5,h6{
	padding: 2px 0px;
	margin: 2px 0px;
	color: #333;
  	font-family:'Open Sans', Calibri, sans-serif;
}
.header, .report_question{
	font-size:17px;
	font-weight:bold;
	color:#000;
	font-family:'Open Sans', Calibri, sans-serif;
}

.header {
	font-family:'Open Sans', Calibri, sans-serif;
	font-weight: bold;
	display: inline-block;
}

.characteristic_title {
	font-family:'Open Sans', Calibri, sans-serif;
	display: inline-block;
}
.practice_title {
	font-family:'Open Sans', Calibri, sans-serif;
	display: inline-block;
}
.presentation_type{
	font-family:'Open Sans', Calibri, sans-serif;
	display: inline-block;
}
table {

	border-collapse: collapse;
}
td {
	border: 0px solid #000;
}
.code {
}
.report_question {
	font-family:'Open Sans', Calibri, sans-serif;
	display: inline-block;
}
.views {
}
.view {
	width: 120px;
	text-align: center;
	display: inline-block;
	background-color: #ccc;
	margin: 5px;
	color: #000;
}
.selector {
	width: 177px;
	text-align: center;
	display: inline-block;
	margin: 5px;
	color: #000;
	border-radius:2px;
	float:left;
        padding:5px 0;
	background-color: #6CA4F0;
	border-color: #6CA4F0;
	color: #FFFFFF;
	text-shadow: none;
	cursor:pointer;

}

.selected {
	background-color: #333;
	color: #fff;
}
.Answers {
	display: none;
}
.Bars {
	display: none;
}
.Ranges {
}

.group_title {
	padding-left: 5px;
	width: 90px;
	display: inline-block;
}
.group_title.full {
	width: 100%;
	margin-bottom:10px;
}
.graph_label {
	font-family:'Open Sans', Calibri, sans-serif;
	font-size: 12px;
	width: 200px;
}

	
.label_title {
	display: inline-block;
	font-family:'Open Sans', Calibri, sans-serif;
	font-size: 12px;
	padding-left:10px;
}
.group {
	background: #e8e8e8;
	margin-bottom: 2px;
	margin-top: 2px;
	border-radius:2px;
}
.ranges_graph {
	width: 1100px;
	display: table-cell;
	vertical-align: bottom;
}
.range_1 {
	background-color: #FF9999;
	float: left;
	height: 20px;
}
.range_2 {
	background-color: #FFCC66;
	float: left;
	height: 20px;
}
.range_3 {
	background-color: #FFFF99;
	float: left;
	height: 20px;
}
.range_4 {
	background-color: #99FF66;
	float: left;
	height: 20px;
}
.range_5 {
	background-color: #00FF66;
	float: left;
	height: 20px;
}
.graph_range {
	margin-top: 5px;
	position: relative;
	background-color: #906;
	height: 10px;
}
.graph_info {
	display: none;
}
.ranges_graph table {
	border: 0px;
	width: auto;
	display: inline-block;
}
.ranges_graph table tr {
	border: 0px;
}
.ranges_graph table td {
	border: 0px;
	padding: 0px;
	padding: 0 2px 0 0;
	text-align: right;
}
.label_1 {
	background-color: #FF9999;
	display: inline-block;
	height: 10px;
	width: 10px;
}
.label_2 {
	background-color: #FFCC66;
	display: inline-block;
	height: 10px;
	width: 10px;
}
.label_3 {
	background-color: #FFFF99;
	display: inline-block;
	height: 10px;
	width: 10px;
}
.label_4 {
	background-color: #99FF66;
	display: inline-block;
	height: 10px;
	width: 10px;
}
.label_5 {
	background-color: #00FF66;
	display: inline-block;
	height: 10px;
	width: 10px;
}
.legend {
	display: inline-block;
	margin-left:30px;
}
.label {
	margin: 2px;
}
.page {
	height: 710px;
}
.widget {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #C9C9C9;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  margin-top: 10px;
  min-height: 50px;
  position: relative;
}
.padd{
	padding:20px;
}
.divider{
  border-bottom: 1px solid #C9C9C9;
  border-top: 0 none;
  height: 0;
  margin: 15px 0 10px;
  padding: 0;
}
.divider.ver{
	border-bottom: 1px solid #f2f2f2;	
}
.graph_label{
	width:auto!important;
}
.rfa-logo{
	float:right;
}
.clear{
	clear:both;
}

