.portlets{
    min-height:50px;
}

.widget.ui-sortable-placeholder { border: 2px dotted #ccc; background:none; visibility: visible !important; min-height: 50px !important; }
.widget.ui-sortable-placeholder * { visibility: hidden; }


.widget {
    border: 1px solid #c9c9c9;
    position:relative;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
    min-height:50px;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.05);
    background: #fff; 
    background: #fafafa url('../img/cream.png') repeat;
}

.widget p{
    margin: 3px 0px 5px 0px !important;
    line-height: 20px;
}

.widget hr{
    margin: 8px 0px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
}

.widget .table{
    margin: 0px;
    width: 100%;
}

.widget .table .btn{
    font-size: 13px !important;
}

.widget .table-bordered{
    border-radius: 0px;
    border: 0px;
}

.widget .table-bordered th{
    border-bottom: 1px solid #ddd !important;
}

.widget .table-bordered td{
    border-top: 0px !important;
    border-bottom: 1px solid #ddd !important;
    border-radius: 0px !important;
}

.widget .table-bordered td:first-child, .widget .table-bordered th:first-child{
	                                    border-left: 0px;
                                        }

.widget .table-bordered thead:first-child tr:first-child > th:first-child, 
.widget .table-bordered tbody:first-child tr:first-child > td:first-child {
    border-radius: 0px;
}

.widget.headless .widget-head{
    background: transparent !important;
    border-bottom:0px !important;
}

.widget.footless .widget-head{
    background: transparent !important;
    border-top:0px !important;
}

.widget.wblue{
    background: #436B91 !important;
    border:none;
    color:#fff;
}

.widget.wblue2{
    background: #C5CED6 !important;
    border:none;
    color:#fff;
}

.widget.worange{
    background: #F07C6C !important;
    border:none;
    color:#fff;
}

.widget.worange2{
    background: #F77A52 !important;
    border:none;
    color:#fff;
}

.widget.worange3{
    background: #FF974F !important;
    border:none;
    color:#fff;
}

.widget.stone{
    background: #A49A87 !important;
    border:none;
    color:#333;
}

.widget.wlime{
    background: #C0CA55 !important;
    border:none;
    color:#fff;
}

.widget.wpurple{
    background: #AD5472 !important;
    border:none;
    color:#fff;
}

.widget.wpurple2{
    background: #513B5E !important;
    border:none;
    color:#fff;
}

.widget.wpurple3{
    background: #644D52 !important;
    border:none;
    color:#fff;
}

.widget.wpink{
    background: #EA2E49 !important;
    border:none;
    color:#fff;
}

.widget.wlightblue{
    background: #77C4D3 !important;
    border:none;
    color:#fff;
}

.widget.wgrayish{
    background: #43484D !important;
}

.widget.wgrey{
    background: #888888 !important;
}

.widget.wyellow{
    background: #F5E5C0 !important;
}

.widget.wgrayish .widget-head{
    color:#fff;
    text-shadow:none;
}
.widget.wblack{
    background: #fafafa url('../img/black.png') repeat;
    color: #ddd;
    border: 1px solid #222;
}

.widget.wblack hr{
    border-top: 1px solid #444;
    border-bottom: 1px solid #222;
}

.widget.wblack a{
    color: #aaa;
}

.widget.wblack a:hover{
    color: #888;
}

.widget .padd, .modal-body{
    padding: 13px 15px;
}

.widget .widget-head,.modal-header{
    background-color: #f8f8f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
    background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: linear-gradient(top, #f8f8f8, #f2f2f2);	
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    text-shadow:0px 1px #fff;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 15px;
}

.widget.wblack .widget-head{
    background-color: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
    background: -webkit-linear-gradient(top, #333, #111);
    background: -moz-linear-gradient(top, #333, #111);
    background: -ms-linear-gradient(top, #333, #111);
    background: -o-linear-gradient(top, #333, #111);
    background: linear-gradient(top, #333, #111);
    text-shadow:0px 1px #000;
    border-bottom: 1px solid #555;
    border-top: 1px solid #666;
    box-shadow: inset 0px 1px 1px #444;
    color: #ccc;
}

.widget .widget-head .widget-icons i{
    font-size: 14px;
    margin: 0px 4px;
}

.widget .widget-head .widget-icons a{
    color: #aaa;
}

.widget .widget-head .widget-icons a:hover{
    color: #999;
}

.widget.wblack .widget-head .widget-icons i{
    font-size: 14px;
    margin: 0px 4px;
}

.widget .widget-foot, .modal-footer{
    background-color: #f8f8f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
    background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: linear-gradient(top, #f8f8f8, #f2f2f2);	
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    text-shadow:0px 1px #fff;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #ccc;
    padding: 8px 15px;
    font-size: 12px;
    color: #555;
    box-shadow: inset 0px 1px 1px #fff;
}

.widget.wblack .widget-foot{
    background-color: #111;
    background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#111));
    background: -webkit-linear-gradient(top, #222, #111);
    background: -moz-linear-gradient(top, #222, #111);
    background: -ms-linear-gradient(top, #222, #111);
    background: -o-linear-gradient(top, #222, #111);
    background: linear-gradient(top, #222, #111);
    text-shadow:0px 1px #000;
    border-bottom: 1px solid #000;
    border-top: 1px solid #222;
    color: #aaa;
    box-shadow: inset 0px 1px 1px #444;
}

/* Widget white extras */

.widget .nav-tabs > li a {

}

.widget .nav-tabs {
    margin-bottom: 5px;
}

.widget .tab-content{
    margin-bottom: 10px;
}

/* Widget black extras */

.widget.wblack .btn-inverse{
    border: 1px solid #212121;
}

.widget.wblack a.btn-primary, .widget.wblack a.btn-primary:hover, 
.widget.wblack a.btn-warning, .widget.wblack a.btn-warning:hover,
.widget.wblack a.btn-danger,  .widget.wblack a.btn-danger:hover,
.widget.wblack a.btn-success, .widget.wblack a.btn-success:hover,
.widget.wblack a.btn-info,  .widget.wblack a.btn-info:hover,
.widget.wblack a.btn-inverse, .widget.wblack a.btn-inverse:hover{
                                  color: #fff;
                              }

.widget.wblack .form-actions{
    border-radius: 5px;
    background-color: #111;
    background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#111));
    background: -webkit-linear-gradient(top, #222, #111);
    background: -moz-linear-gradient(top, #222, #111);
    background: -ms-linear-gradient(top, #222, #111);
    background: -o-linear-gradient(top, #222, #111);
    background: linear-gradient(top, #222, #111);
    border: 1px solid #111;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.widget.wblack h2,
.widget.wblack h3,
.widget.wblack h4,
.widget.wblack h5,
.widget.wblack h6{
    color: #ddd;
}

.widget.wblack blockquote{
    border-left: 3px solid #555;
}

.widget.wblack .pagination ul > li > a, .widget.wblack .pagination ul > li > span {
    background-color: #111;
    background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#111));
    background: -webkit-linear-gradient(top, #222, #111);
    background: -moz-linear-gradient(top, #222, #111);
    background: -ms-linear-gradient(top, #222, #111);
    background: -o-linear-gradient(top, #222, #111);
    background: linear-gradient(top, #222, #111);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border: 1px solid #161616;
}

.widget.wblack .pagination ul > li > a:hover{
    background: #222;
}

.widget.wblack .table td{
    border-top: 1px solid #222;
}

.widget.wblack .table tr:hover{
    background: rgba(255,255,255,0.1);
}

.widget.wblack .nav-tabs > .active > a, .widget.wblack .nav-tabs > .active > a:hover {
	                                    background: #222;
                                        }

.widget.wblack .nav-tabs {
    margin-bottom: 5px;
    border-bottom: 1px solid #222;
}

.widget.wblack .nav-tabs > li a {
    padding: 5px 10px;
    background-color: #111;
    background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#111));
    background: -webkit-linear-gradient(top, #222, #111);
    background: -moz-linear-gradient(top, #222, #111);
    background: -ms-linear-gradient(top, #222, #111);
    background: -o-linear-gradient(top, #222, #111);
    background: linear-gradient(top, #222, #111);
    border: 1px solid #222;
    border-bottom: 0px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    color: #ccc;
    font-weight: bold;
    margin-right: 5px; 
}

.widget.wblack .nav-tabs > li a:hover {
    background: #222; 
}

.widget.wblack .nav-tabs > li.active {
    border-bottom: 0px; 
}

.widget.wblack .nav-tabs > li.active a {
    color: #fff;
    background: #333 url('../img/back.png');
    border-bottom: 0px;
}

.widget.wblack .nav-tabs > li.active a:hover {
    background: #333 url('../img/back.png');            
    border-bottom: 0px; 
}

.widget.wblack .tab-content{
    margin-bottom: 10px;
}

.form-elements input, .form-elements input{
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.form-elements input, .form-elements textarea{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}
.form-elements textarea{
    height:auto!important;
}
.form-control.error, .form-elements input.error{
    border:solid 1px #F00;	
}

.widget-content .error .form-inline button{
    margin-left:-2px;
    padding:8px 12px;
}

.selectall, .usercheckbox{
    background: url(../img/checkbox.png) no-repeat top left;
    height: 21px;
    width: 23px;
    cursor: pointer;
    margin: auto;
}
.checked {
    background-position:bottom left !important ;
}
.editabletext{

    text-align: center;
}
.editabletext > a{
    font-size: 20px;
   
}
.cancel, .update{
    display:none;
}
.edit,.cancel, .update{
    cursor: pointer;
    
}
.pageIndex{
    margin:0 5px 0 5px;
}
.currentPageIndex{
    background-color:#535353 !important;
    color: #ffff;
    cursor:default!important;
}
.pagesIndex span{
    margin-top: 3px;
}
#users_table thead th{
    width: 37px;
    height: 18px;
    font-family: SourceSansPro;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;

}
#users_table thead th :hover  {
    cursor: pointer;
}
.status-icon{
    color: #a4afb7;
    font-size: 13px;
    margin-left: 6px;
}
/* .status-col i :hover{
    cursor: pointer;
} */
.menu-status{
    list-style: none;
    display: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    background-color: var(--color-menu);
}
.rotate-status{
    transform: rotate(180deg);
    transition: all 1s ease-in-out;
}
.submenu-status{
    width: 159.3px;
    color:#686868;
    position: absolute;
    z-index: 99999;
    top: 49px;
    right: 147px;
    background-color: #fff;
}
.submenu-status li > a > i{
    float: right;
}
.submenu-status li > a:hover{
    background-color: #616b75;
    color:#fff !important;
    cursor: pointer;
}
.avatar {
    position: relative;
    width: 21px;
    height: 21px;
    background-color: #0945A5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar img {
    width: 14px;
    height: 14px;
    position: absolute;
    bottom: 4px;
}

/*new style*/
.assessmentBtn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.assessmentBtn a{
    font-size: 15px;
    height: 40px;
    /* padding: 0px; */
    text-align: center;
    margin: 0;
    /* display: flex; */
    /* align-items: center; */
    background-color: #01a300;
    border-color: #01a300;
    border-radius: 4px;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #f0f4f7;
}

.body_content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 28px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.title {
    font-family: 'Poppins';
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #43425d;
}
.breadcrumbs{
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: left;
    color: #9a9a9a;    
}
.titleSpan{
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: left;
    color: #9a9a9a;
}

span {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    /* color: #ffffff; */
}
.subHeader{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.93;
    letter-spacing: normal;
    text-align: left;
    color: #b3b3b3;
}
h2 {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.subTitle {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.65;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
    padding-left: 24px;
    /* padding-top: 24px; */
    margin-block-start: 0em;
    margin-block-end: 0em;
    /* padding-bottom: 16px;*/
}

.subTitle span{
    clear: both;
    font-size: 16px;
    font-weight: bold;
    color: #4d4f5c;
    padding-left: 4px;
}
.subTitlePadding{
    padding-top: 24px; 
    padding-bottom: 16px;
}

.subTitlePaddingZero{
    padding-top: 0px; 
    padding-bottom: 0px;
}

.AssessmentCustom{
    height: 100px;
    display: flex;
    align-items: center;
}

.assessmentBody{
    width: 90%;
}

.searchdiv{
    padding: 0;
    height: fit-content;
    display: flex;
    align-items: center;
    position: relative;
}


    .searchbox {
        padding: 0 !important;
        padding-left: 54px !important;
        height: 30px !important;
        font-size: 12px !important;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67 !important;
        letter-spacing: normal;
        text-align: left;
        color: #4d4f5c !important;
        border: 1px solid transparent !important;
        border-radius: 4px !important;
        box-shadow: none !important;
    }


#selectOption{
    height: 26px;
    padding: 0;
    padding-left: 9px;
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
}
option[hidden]{
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
}
option{
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
}

.btn-apply{
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    height: 24px;
}

.addCandidatesContainer{
    width: 100%;
    padding: 0 15px;
}

.result{
    clear: both;
    height: 400px;
    width: 100%;
    overflow-y: scroll;
}

.table{
    overflow: auto !important;
    width: 100%;
    min-width: 950px;
}
tr{
    background-color: rgb(255, 255, 255);
    height: 40px;
    vertical-align: middle;
}

#users_table thead th{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
    padding: 0;
    vertical-align: middle;
    position: relative;
}

.table td, .table th {
    padding: 0;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    height: 40px;
    vertical-align: middle;
    text-align: left;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
}

.usercheckbox {
     background: url(../img/checkbox.png) no-repeat top left;
     height: 21px;
     width: 23px; 
    cursor: pointer;
    margin: auto;
    /*width: 12px;
    height: 12px;*/
    object-fit: contain;
    border: solid 1px #a3a6b4;
}

.editabletext {
    text-align: left;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
    /* width: 102px; */
}

.status{
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
}

.avatar {
    position: relative;
    width: 21px;
    height: 21px;
    background-color: #0945A5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: unset !important;
}

.submenu-status {
    width: 155.3px;
    color: #686868;
    position: absolute;
    z-index: 99999;
    top: 40px;
    right: 11px;
    background-color: #fff;
    margin: auto;
    padding: 10px 16px;
}

.submenu-status li{
    display: flex;
    align-items: center;
    height: 32px;
}
.menu-link {
    text-decoration: none;
    color: #fff;
    /* display: inline-flex; */
    /* padding: .5em 1em; */
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #686868;
    /* height: 32px;*/
}

.menu-link i{
    float: none;
    font-size: 10px;
}

.page-link {
 /*margin-top: 0px;*/
}

.searchBarContainer{
    padding-top: 24px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
}

.row{
    margin-right: 0px !important; 
    margin-left: 0px !important;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}